* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #25242a;
  padding: 1.8rem;
}

body .header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#c6d56fb6), to(#b49f28a8)), url(/img/nature-person-rocks-standing-795660.jpg) center/cover;
  background: linear-gradient(to right bottom, #c6d56fb6, #b49f28a8), url(/img/nature-person-rocks-standing-795660.jpg) center/cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

body .header .logo-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-animation: moveInCenter 3s;
          animation: moveInCenter 3s;
}

body .header .logo-container .logo {
  height: 2.5rem;
}

body .header .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

body .header .hero .primary-heading {
  color: #fff;
  text-transform: uppercase;
  line-height: 3.8rem;
  margin-bottom: 1.5rem;
}

body .header .hero .primary-heading .primary-heading-main {
  display: block;
  font-size: 5rem;
  letter-spacing: 1.9rem;
  font-weight: 300;
  -webkit-animation: moveInLeft 1.5s;
          animation: moveInLeft 1.5s;
}

body .header .hero .primary-heading .primary-heading-sub {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-animation: moveInRight 1.5s;
          animation: moveInRight 1.5s;
}

body .header .hero .btn:link,
body .header .hero .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 50rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

body .header .hero .btn:link:hover,
body .header .hero .btn:visited:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

body .header .hero .btn:link:active,
body .header .hero .btn:visited:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 0.28rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.28rem rgba(0, 0, 0, 0.1);
}

body .header .hero .btn:link:after,
body .header .hero .btn:visited:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .header .hero .btn:link:hover::after,
body .header .hero .btn:visited:hover::after {
  -webkit-transform: scale(1.4, 1.6);
          transform: scale(1.4, 1.6);
  opacity: 0;
}

body .header .hero .btn-white {
  background: #fff;
  color: #25242a;
  padding: 0.8rem 1rem;
}

body .header .hero .btn-white:after {
  background: #fff;
}

body .header .hero .btn-animate {
  -webkit-animation: moveInBottom 1.5s ease-in-out 0.65s;
          animation: moveInBottom 1.5s ease-in-out 0.65s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  75% {
    -webkit-transform: translateX(1.3rem);
            transform: translateX(1.3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  75% {
    -webkit-transform: translateX(1.3rem);
            transform: translateX(1.3rem);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
  75% {
    -webkit-transform: translateX(-1.3rem);
            transform: translateX(-1.3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
  75% {
    -webkit-transform: translateX(-1.3rem);
            transform: translateX(-1.3rem);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveInCenter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInCenter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(19rem);
            transform: translateY(19rem);
  }
  75% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(19rem);
            transform: translateY(19rem);
  }
  75% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */