// Colors
$light-yellow: #c6d56f;
$medium-yellow: #c3c555;
$dark-yellow: #b49f28;
$dark-gray: #25242a;
$medium-gray: #777;
$primary-white: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: $dark-gray;
  padding: 1.8rem;

  .header {
    height: 95vh;
    background: linear-gradient(to right bottom, #c6d56fb6, #b49f28a8),
      url(/img/nature-person-rocks-standing-795660.jpg) center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;

    // Logo
    .logo-container {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      animation: moveInCenter 3s;

      .logo {
        height: 2.5rem;
      }
    }

    // Hero
    .hero {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .primary-heading {
        color: $primary-white;
        text-transform: uppercase;
        line-height: 3.5rem;

        .primary-heading-main {
          display: block;
          font-size: 5rem;
          letter-spacing: 1.9rem;
          font-weight: 300;
          animation: moveInLeft 1.5s;
        }
        .primary-heading-sub {
          display: block;
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: 1rem;
          animation: moveInRight 1.5s;
        }
      }
    }
  }

  // Animations
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100rem);
    }
    75% {
      transform: translateX(1.3rem);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100rem);
    }
    75% {
      transform: translateX(-1.3rem);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes moveInCenter {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
