.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 50rem;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.28rem;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.2);
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.28rem rgba($color: #000000, $alpha: 0.1);
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  &:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0;
  }
}
.btn--white {
  background: $primary-white;
  color: $dark-gray;
  padding: 1rem 2.5rem;
  &:after {
    background: $primary-white;
  }
}
.btn--animate {
  animation: moveInBottom 1.5s ease-in-out 0.65s;
  animation-fill-mode: backwards;
}
