.composition {
  position: relative;
  &__photo {
    width: 70%;
    height: 25rem;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.15s;
    outline-offset: 1.5rem;

    &--p1 {
      left: -5%;
      top: -2rem;
    }

    &--p2 {
      right: -10%;
      top: 3rem;
    }

    &--p3 {
      left: 10%;
      top: 15rem;
    }

    &:hover {
      outline: 1.5rem solid $light-yellow;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
      z-index: 20;
    }
  }

  // .composition:hover .composition__photo:not(:hover)
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
